* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #85ffbd;
	background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: transparent;
	border: 10px solid transparent;
	border-radius: 25px;
	transform-origin: 0% 50%;
	animation: anminate 2s var(--duration) ease infinite;
}

@keyframes anminate {
	0% {
		border-color: transparent;
	}

	25% {
		border-color: #fc00ff;
		width: 50px;
	}

	50% {
		width: 300px;
	}

	100% {
		border-color: transparent;
		width: 50px;
	}
}
